@import (once) '../../../../styles/_variables';

.page {
  padding: 40px;
  h1 {
    .font-standard--thin;
    font-size: @title-size-1;
    padding-left: 90px;
    margin-bottom: 50px;
  }
  .paragraph {
    .font-standard--thin;
    margin: 0;
  }
}