@import '../../../../styles/meta';

.nav {
  display: flex;
  flex: auto 0 0;
  color: $color-font-4;
  background: $color-primary-4;
  transition: transform .35s cubic-bezier(.4,0,.2,1),-webkit-transform .35s cubic-bezier(.4,0,.2,1);
  transition-property: transform, -webkit-transform;
  transition-duration: 0.35s, 0.35s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform .35s cubic-bezier(.4,0,.2,1);
  transition: -webkit-transform .35s cubic-bezier(.4,0,.2,1);
  transition: transform .35s cubic-bezier(.4,0,.2,1);
}
.nav--open {
  width: 200px;
  aside {
    width: 200px;
  }
}
.nav--closed {
  width: 0;
  aside {
    width: 0;
    visibility: hidden;
  }
}