@import (once) '../../../../styles/commons';

// FIXME need important because of react-toolbox element weight, change for inline style?
.nav {
  background: @color-primary-2;
  width: 200px !important;
  aside {
    width: 200px !important;
    background-color: @color-primary-2 !important;
    box-shadow: none !important;
    border: none !important;
  }
}