@import '../../../../styles/meta';

.card-content {
  padding-left: $spacing-large;
  padding-right: $spacing-standard;
  &:first-child {
    padding-top: $spacing-small / 2;
  }
  padding-bottom: $spacing-small;
  p {
    color: $color-font-3;
  }
}
