@import '../../../../styles/meta';

.card-container {
  display: flex;
  flex-direction: row;
  flex: 100% 0;
  height: 100%;
  overflow: auto;
  align-items: center;
  justify-content: center;
  align-content: stretch;
}