.DS_Store

.idea/
*.iml

logs
*.log
npm-debug.log*

pids
*.pid
*.seed

.sass-cache

node_modules
static
styleguide/dist
reports
coverage
transpiled
*.zip
*.tgz
.modules

sitespeed-result

.env
.envrc

# webpack info to get assets name
webpack-assets.json

stats.json