/**
 * Kodo Kojo - Software factory done right
 * Copyright © 2016 Kodo Kojo (infos@kodokojo.io)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@import '../../../../styles/meta';

a.menu-item,
a.menu-item:hover,
a.menu-item:visited,
a.menu-item:active,
a.menu-item:link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  background: $color-primary-3;
  &.menu-item--disabled {
    pointer-events: none !important;
    cursor: default;
  }
  .menu-highlight {
    width: 6px;
    height: 100%;
  }
  &.menu-default {
    & > .menu-label {
      font-weight: $font-weight-bold;
      color: $color-font-6;
    }
  }
  &.menu--active {
    & > .menu-label {  
      font-weight: $font-weight-bold;
    }
  }
  &.menu-0 {
    background: $color-primary-4;
    .menu-label {
      color: $color-font-1;
    }
    &.menu--active {
      background: $color-secondary-1;
      & > .menu-label {
      }
      &::after {
        border-left: 14px solid $color-secondary-1;
      }
    }
  }
  &.menu-1 {
    & > .menu-highlight {
      background: $color-secondary-1;
    }
    &.menu--active {
      & > .menu-label {
        color: $color-secondary-1;
      }
    }
  }
  &.menu-2 {
    & > .menu-highlight {
      background: $color-secondary-2;
    }
    &.menu--active {
      & > .menu-label {
        color: $color-secondary-2;
      }
    }
  }
  &.menu-3 {
    & > .menu-highlight {
      background: $color-secondary-3;
    }
    &.menu--active {
      & > .menu-label {
        color: $color-secondary-3;
      }
    }
  }
  &.menu-4 {
    & > .menu-highlight {
      background: $color-secondary-4;
    }
    &.menu--active {
      & > .menu-label {
        color: $color-secondary-4;
      }
    }
  }
  .menu-label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1 1 75%;
    color: $color-font-3;
  }
  .menu-number {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    flex: 1 1 25%;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $color-font-3;
  }
  &.menu--active {
    &::after {
      content: ' ';
      position: absolute;
      display: flex;
      width: 0;
      height: 0;
      top: 10px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 14px solid $color-primary-3;
    }
  }
}