@import '~react-toolbox/components/dialog/theme';
@import '../../../../styles/meta';

.dialog {
  background-color: $color-primary-3;
  border-radius: $radius-standard;
}

.title {
  font-size: $font-size-big;
  font-weight: $font-weight-thin;
  color: $color-secondary-1;
}

.body {
  color: $color-font-4;
}

.title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}