@font-family-primary: 'Catamaran', sans-serif;
@font-family-secondary: 'Roboto', sans-serif;
@icon-font-family-primary: 'MaterialIcons';

// font weights
@font-weight-thin: 100;
@font-weight-light: 300;

// font sizes (we suppose that default font size is 16px)
@font-size-default: 1rem; // 16px

// colors
// primary
@color-primary-2: #4A4A52;

// font color
@color-font-1: #47474C;
@color-font-2: #75757F;
@color-font-3: #8F8F99;
@color-font-4: #A6A6B2;
@color-font-5: #C0C0CC;
@color-font-6: #FFFFFF;
