@import (once) './_reset';
@import (once) './_variables';

// reset
body {
  .font-standard--light;
  font-size: @font-size-default;
  background: @color-primary-1;
  color: @color-font-4;
}

h1,
h2,
h3 {
  margin: 0;
}
