@import (once) './_reset';
@import (once) './_variables';

// reset
body {
  .font-standard--light;
  font-size: @font-size-default;
  background: @color-primary-2;
  color: @color-font-5;
}

h1,
h2,
h3 {
  margin: 0;
}
