$font-family-primary: 'Catamaran', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;
$icon-font-family-primary: 'MaterialIcons';

// font sizes (we suppose that default font size is 16px)
$font-size-default-: .9286rem; // ?px
$font-size-default: 1rem; // 16px

// titles
$title-size-1: 2.714rem;
$title-size-2: 1.8rem;
$title-size-3: 1.5rem;

// paragraph
$font-size-smaller: .5rem;
$font-size-small: .8rem;
$font-size-normal: 1.143rem;
$font-size-medium: 1.2rem;
$font-size-large: 1.4rem;
$font-size-larger: 1.7rem;

$font-standard--thin: 100;
$font-standard--light: 300;
$font-standard--normal: 400;
$font-standard--semi-bold: 600;
$font-standard--bold: 700;

// colors
// primary
$color-primary-1: #36353A;
$color-primary-2: #4A4A52;
$color-primary-3: #5D5D66;
$color-primary-4: #75757F;
$color-primary-5: #8F8F99;
// secondary
$color-secondary-1: #60DADF;
$color-secondary-2: #6CBDEC;
$color-secondary-3: #84A5EC;
$color-secondary-4: #9991CD;

// font colors
$color-font-1: #47474C;
$color-font-2: #75757F;
$color-font-3: #8F8F99;
$color-font-4: #A6A6B2;
$color-font-5: #C0C0CC;
$color-font-6: #FFFFFF;

// react-toolbox: sizing
$unit: 1rem !default;

// react-toolbox: input
$input-padding: 2 * $unit !default;
$input-field-padding: 0;
$input-field-font-size: $font-size-normal;
$input-field-height: $input-field-padding * 2 + $input-field-font-size * 1.4 !default;
$input-label-font-size: $font-size-small;
$input-focus-label-top: $font-size-small;
$input-text-background-color: transparent !default;
$input-text-label-color: $color-font-5;
$input-text-bottom-border-color: $color-primary-5;
$input-text-highlight-color: $color-secondary-1 !default;
$input-text-disabled-color: $input-text-bottom-border-color !default;
$input-text-disabled-text-color: $input-text-label-color !default;
$input-text-error-color: $color-secondary-1;
$input-text-required-color: $color-secondary-1;
$input-underline-height:  2 * $unit !default;
$input-icon-font-size: $font-size-normal;
$input-icon-size: 2 * $input-icon-font-size !default;
$input-icon-offset: 1.6 * $unit !default;
$input-chevron-offset: .8 * $unit !default;
$input-hint-opacity: .8 !default
//
//$color-divider: $palette-grey-200 !default;
//$color-background: $color-white !default;
$color-text: $color-font-5;
$color-text-secondary: $palette-grey-600 !default;

//$color-xprimary-dark: $palette-indigo-700 !default;
//$color-accent: $palette-pink-a200 !default;
//$color-accent-dark: $palette-pink-700 !default;
//$color-primary-contrast: $color-dark-contrast !default;
//$color-accent-contrast: $color-dark-contrast !default;