
// font size
@default: .75em;
@h2: 1.8em;
@h3: 1.5em;

@font-size-smaller: .5em;
@font-size-small: .8em;
@font-size-regular: 1em;
@font-size-medium: 1.2em;
@font-size-large: 1.4em;

// colors
@color-primary-dark: #3A3A3D;
@color-primary-standard: #5A5A5E;
@color-primary-light: #FFFFFF;
@color-secondary-light: #5FC8D4;
@color-secondary-standard: #259FB7;
@color-secondary-dark: #237688;
@color-ternary-standard: #C9564B;
// font-colors
@color-font-light: #FFFFFF;
@color-font-dark: #242424;