@import (once) '../../../../styles/_commons';

.header-bar {
  .general-background--1;
  height: 70px;
  padding: 0 1.5rem;
}

.logo-kodokojo {
  display: block;
  margin-right: 1.5rem;
  width: 150px;
  height: 40px;
}