@import '../../../../styles/meta';

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $color-primary-1;
  height: 70px;
  padding: 0 1.5rem;
}

.logo-kodokojo {
  display: block;
  margin-right: 1.5rem;
  width: 150px;
  height: 40px;
}