@import (reference) '../../../styles/_commons';

.breadcrumb {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row wrap;
  align-items: center;
  color: @color-font-3;
  & > span {
    display: flex;
    margin-right: 1em;
    margin-left: 1em;
  }
  a {
    color: @color-font-3;
    font-size: @font-size-normal;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  Link {
    display: flex;
    justify-content: space-around;
  }
}