@import (reference) '../../../styles/commons';

.breadcrumb {
  color: @font-color-neutral-light;
  a {
    color: @font-color-neutral-light;
    font-size: @font-size-standard;
    text-decoration: underline;
  }
  &:hover {
    text-decoration: none;
  }
}