/**
 * Kodo Kojo - Software factory done right
 * Copyright © 2016 Kodo Kojo (infos@kodokojo.io)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@import '../../../styles/meta';

.brick {
  display: flex;
  align-items: flex-end;
  flex-flow: row;
  justify-content: space-between;
  margin-left: 70px;
}

.brick-item {
  height: 40px;
  color: $color-font-4;
  border-bottom: 1px solid $color-primary-4;
  &:not(:first-child) {
    margin-bottom: 7px;
  }
}

.brick-header {
  span {
    color: $color-font-4;
    font-weight: $font-weight-thin;
  }
}

%brick-column {
  height: 22px;
  display: flex;
  align-items: center;
  align-content: center;
}

.brick-type {
  @extend %brick-column;
  flex: 1 1 15%;
}

.brick-name {
  @extend %brick-column;
  flex: 1 1 20%;
  color: $color-font-6;
  font-weight: $font-weight-semi-bold;
}

.brick-state {
  @extend %brick-column;
  flex: 1 1 15%;
}

.brick-version {
  @extend %brick-column;
  flex: 1 1 15%;
}

.brick-link {
  @extend %brick-column;
  flex: 1 1 35%;
  & a {
    color: $color-font-6;
    text-decoration: underline;
  }
}
