@import '../../../styles/meta';

.user {
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  div[data-react-toolbox="avatar"] {
    display: flex;
    flex: 40px 0 0;
    align-items: center;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    font-size: $font-size-large;
    background-color: $color-primary-2;
    .user-initials {
      width: 100%;
    }
  }
}

.user-item {
  &:not(:first-child) {
    margin-bottom: 20px;
  }
  height: 70px;
  background: $color-primary-3;
  color: $color-font-4;
  div[data-react-toolbox="avatar"] {
    background-color: $color-secondary-2;
  }
}

.user-header {
  color: $color-font-4;
  margin-bottom: 10px;
}

%user-column {
  display: flex;
  align-items: center;
  align-content: center;
}

.user-name {
  @extend %user-column;
  flex: 40% 1 1;
}
.user-username {
  @extend %user-column;
  flex: 20% 1 1;
}
.user-group {
  @extend %user-column;
  flex: 15% 1 1;
}
.user-email {
  @extend %user-column;
  flex: 25% 1 1;
}
