/**
 * Kodo Kojo - Software factory done right
 * Copyright © 2016 Kodo Kojo (infos@kodokojo.io)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@import '../../../styles/meta';

.user {
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: space-between;
  padding-left: $spacing-smallest;
  padding-right: $spacing-smallest;
  div[data-react-toolbox="avatar"] {
    display: flex;
    flex: 0 0 40px;
    align-items: center;
    height: 40px;
    width: 40px;
    margin-right: $spacing-smallest;
    font-size: $font-size-large;
    background-color: $color-primary-2;
    .user-initials {
      width: 40px;
    }
  }
  span[data-react-toolbox="font-icon"] {
    vertical-align: middle;
  }
}

.user-item {
  position: relative;
  &:not(:first-child) {
    margin-bottom: $spacing-smallest;
  }
  height: 70px;
  background: $color-primary-3;
  color: $color-font-4;
  div[data-react-toolbox="avatar"] {
    background-color: $color-secondary-2;
  }
}

.user-item--disabled {
  height: 70px;
  z-index: 10;
  background: $color-primary-3;
  opacity: .5;
}

.user-container {
  display: flex;
  width: 100%;
}

.user-container--form {
  margin-bottom: $spacing-smallest;
}

.user-form {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 170px;
  padding-top: $spacing-smallest;
  background: $color-primary-3;
  color: $color-font-4;
}

.user-item--form {
  width: 100%;
  align-items: center;
  div[data-react-toolbox="avatar"] {
    align-self: center;
    color: $color-font-1;
    background-color: $color-primary-4;
  }
  span[data-react-toolbox="font-icon"] {
    color: $color-primary-1;
  }
}

.user-actions {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin-top: $spacing-atomic;
  text-align: right;
  button {
    &:not(:last-of-type) {
      margin-right: $spacing-atomic;
    }
    &:last-of-type {
      margin-left: 0;
    }
  }
}

.user-miscellaneous {
  display: flex;
  align-items: center;
  flex: 1 1 100%;
  height: 170px;
  background: $color-primary-3;
  color: $color-font-4;
  margin-top: $spacing-atomic;
  padding-top: $spacing-smallest;
  padding-left: $spacing-smallest;
  padding-right: $spacing-smallest;
}

.user-header {
  color: $color-font-4;
  margin-bottom: $spacing-atomic;
}

%user-column {
  display: flex;
  align-items: center;
  align-content: center;
}

%user-column--form {
  @extend %user-column;
  align-items: baseline;
  div[data-react-toolbox="input"] {
    width: 95%;
  }
}

$user-flex: 1 1 27%;
$username-flex: 1 1 20%;
$group-flex: 1 1 10%;
$email-flex: 1 1 27%;
$select-flex: 1 1 7%;
$edit-flex: 1 1 7%;

$sshkey-flex: 1 1 50%;
$password-flex: 1 1 50%;

$select-min-width: 31px;
$edit-min-width: 58px;

.user-name {
  @extend %user-column;
  flex: $user-flex;
}
.user-username {
  @extend %user-column;
  flex: $username-flex;
}
.user-group {
  @extend %user-column;
  flex: $group-flex;
}
.user-email {
  @extend %user-column;
  flex: $email-flex;
}
.user-select {
  @extend %user-column;
  flex: $select-flex;
  justify-content: center;
  min-width: $select-min-width;
}
.user-edit {
  @extend %user-column;
  flex: $edit-flex;
  justify-content: center;
  min-width: $edit-min-width;
}
.user-spacer {
  display: flex;
  flex: 0 0 40px;
  align-self: center;
  width: 40px;
  margin-right: $spacing-smallest;
}
.user-name--form {
  @extend %user-column--form;
  flex: $user-flex;
}
.user-username--form {
  @extend %user-column--form;
  flex: $username-flex;
}
.user-group--form {
  @extend %user-column--form;
  flex: $group-flex;
}
.user-email--form {
  @extend %user-column--form;
  flex: $email-flex;
}
.user-sshkey--form {
  @extend %user-column--form;
  flex: $sshkey-flex;
}
.user-password--form {
  @extend %user-column--form;
  flex: $password-flex;
}
.user-select--form {
  @extend %user-column--form;
  flex: $select-flex;
  justify-content: center;
  min-width: $select-min-width;
  margin-top: -$spacing-atomic;
}
.user-edit--form {
  @extend %user-column--form;
  flex: $edit-flex;
  justify-content: center;
  min-width: $edit-min-width;
  margin-top: -$spacing-atomic;
}
