@import '../../../styles/meta';

.user {
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  div[data-react-toolbox="avatar"] {
    display: flex;
    flex: 0 0 40px;
    align-items: center;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    font-size: $font-size-large;
    background-color: $color-primary-2;
    .user-initials {
      height: 40px;
      width: 40px;
    }
  }
  span[data-react-toolbox="font-icon"] {
    vertical-align: middle;
  }
}

.user-item {
  &:not(:first-child) {
    margin-bottom: 20px;
  }
  height: 70px;
  background: $color-primary-3;
  color: $color-font-4;
  div[data-react-toolbox="avatar"] {
    background-color: $color-secondary-2;
  }
}

.user-form {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100px;
  padding-top: 20px;
  background: $color-primary-3;
  color: $color-font-4;
}

.user-item--form {
  width: 100%;
  align-items: center;
  div[data-react-toolbox="avatar"] {
    align-self: center;
    color: $color-font-1;
    background-color: $color-primary-4;
  }
  span[data-react-toolbox="font-icon"] {
    color: $color-primary-1;
  }
}

.user-header {
  color: $color-font-4;
  margin-bottom: 10px;
}

%user-column {
  display: flex;
  align-items: center;
  align-content: center;
}

%user-column--form {
  @extend %user-column;
  align-items: baseline;
  input {
    width: 95%;
  }
}

$user-flex: 1 1 35%;
$username-flex: 1 1 20%;
$group-flex: 1 1 20%;
$email-flex: 1 1 25%;

.user-name {
  @extend %user-column;
  flex: $user-flex;
}
.user-username {
  @extend %user-column;
  flex: $username-flex;
}
.user-group {
  @extend %user-column;
  flex: $group-flex;
}
.user-email {
  @extend %user-column;
  flex: $email-flex;
}

.user-spacer {
  display: flex;
  flex: 0 0 40px;
  align-self: center;
  width: 40px;
  margin-right: 20px;
}
.user-name--form {
  @extend %user-column--form;
  flex: $user-flex;
}
.user-username--form {
  @extend %user-column--form;
  flex: $username-flex;
}
.user-group--form {
  @extend %user-column--form;
  flex: $group-flex;
}
.user-email--form {
  @extend %user-column--form;
  flex: $email-flex;
}