<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <title>Kodo Kojo</title>
  <link rel="icon" href="favicon.ico"/>
  <link rel="icon" type="image/png" href="images/logo-kodokojo-icon.png" />
</head>
<body>
<div id="app"></div>
<script src="{{{app}}}"></script>
</body>
</html>

